<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.czo.droid48sx"
    android:installLocation="auto">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">

        <activity
            android:exported="true"
            android:name=".X48"
            android:anyDensity="true"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTop"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true">
            <!-- |screenSize -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:exported="true"
            android:name=".ProgListView"
            android:label="@string/load_prog" />

        <activity
            android:exported="true"
            android:name=".Settings"
            android:label="@string/general_preferences" />

    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
